:root {
  --primary-font: 'Google Sans 2', 'Google Sans', sans-serif;
}

/* Roboto */
@font-face {
  font-family: 'Roboto';
  src: url('../../assets/font/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../assets/font/Roboto/Roboto-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../assets/font/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../assets/font/Roboto/Roboto-Thin.ttf');
  font-weight: 300;
}

/* Google Sans */
@font-face {
  font-family: 'Google Sans';
  src: url('../../assets/font/GoogleSans/GoogleSans-Bold.otf');
  font-weight: 700;
}
@font-face {
  font-family: 'Google Sans';
  src: url('../../assets/font/GoogleSans/GoogleSans-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'Google Sans';
  src: url('../../assets/font/GoogleSans/GoogleSans-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Google Sans';
  src: url('../../assets/font/GoogleSans/GoogleSans-Thin.otf');
  font-weight: 300;
}

/* Google Sans 2*/
@font-face {
  font-family: 'Google Sans 2';
  src: url('../../assets/font/GoogleSans2/GoogleSans-Bold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Google Sans 2';
  src: url('../../assets/font/GoogleSans2/GoogleSans-Medium.woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Google Sans 2';
  src: url('../../assets/font/GoogleSans2/GoogleSans-Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Google Sans 2';
  src: url('../../assets/font/GoogleSans2/GoogleSans-Italic.woff2');
  font-style: italic;
}
