.m-table-toolbar {
  margin-bottom: 16px;
  display: flex;
  flex-flow: row nowrap;
}

.m-table-toolbar .toolbar-left {
  margin-right: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 10px;
}

.m-table-toolbar .toolbar-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 10px;
}
